{% extends "travel_base.html" %}

{% block content %}
<div class="rey travel-article parallax">
    <div class="caption">
        <span class="border">REYKJAVIK</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">&quot;W</span>e don&#39;t know why the airline won&#39;t accept our covid results. The CDC&#39;s website says that our tests need to be three days before take off. And they give the example, &#39;if your flight is on Friday, a test anytime on Tuesday or thereafter is sufficient&#39; so if we got our test on a Wednesday for our flight on Saturday, we should be good, correct?&quot;</p>
    <p>&quot;Yes, that would make sense to me&quot;, replied a Scandinavian sounding woman.</p>
    <p>&quot;So in your opinion, we should be allowed on the plane.&quot;</p>
    <p>&quot;Yes, in my opinion, you should be allowed on.&quot; </p>
    <p>We breathed a sigh of relief. It looks like maybe we wouldn&#39;t be trapped in Iceland after all. I was so glad we had called the embassy--even though it was a bit odd that the US embassy phone tree was in Icelandic.</p>
    <p>&quot;Who should we say we talked to when we get to the airport, just in case they don&#39;t accept these tests?&quot;</p>
    <p>&quot;Like what&#39;s my name?&quot;, she replied.</p>
    <p>&quot;Yes or rather, should we say that we talked to someone in the embassy? Or are you a technically part of the state department?&quot;</p>
    <p>&quot;Oh no, I don&#39;t work in the embassy. This is a doctors office.&quot; </p>
    <p>We had been talking to this woman for the past 10 minutes about airlines and covid tests--and all the while, she had been nodding along, providing reassurances, despite knowing we likely had the wrong number. It was Icelandic hospitality at its most innocent (and perhaps least helpful).</p>
    <p>&quot;You see, when the embassy is closed, they forward their calls to doctors office in case of medical emergency&quot;, she explained.</p>
    <p>I paced the floor of our hostel. I was worried that we had the wrong kind of tests, and we needed to rebook for tomorrow.</p>
    <p>To my surprise, my anxiety would not last long. Booking covid tests, even for the next day, was no problem in Iceland. Coming from the United States, Iceland&#39;s ability to muster together an accessible covid testing regime had surprised me.</p>
    <p>The very existence of Iceland as a complete and independent country surprised me. Despite being smaller than the DC suburb of Arlington, Iceland has its own language, its own currency, its own airline, banking system, fleet of fishing boats, fully manned tourist traps, soccer team, and its own television stations, playing Icelandic TV shows, casted and crewed by its own menagerie of Icelandic celebrities. </p>
    <p>Iceland is sometimes lovingly referred to as a village, due to its small size. Reykjavik, comprising about half the population of the country, feels more like a ski town. The homes, whether single family detached or row, sit right against the street and lack much in the way of adornment. The facades are completely flat, with small windows, no arches or porches. The style comes from paint. Each home is painted vibrantly, increasing their contrast with the oftentimes dower sky. </p>
    <p>The next morning, we picked up croissants and pastries from Brauð and drove around the city in our Kia Ceed. On the way to our covid tests, we pressed our camera against the window, hoping to get some establishing shots for a montage video we would make when we got back home. It was our last day in the village of Iceland.   </p>
    
</div>
<div class="vid">
    <h3>Walking on a Dream</h3>
    <hr>
    <video class = "vid-center" style='padding: 1rem;' 
    src="{{url_for('static', filename='images/travel/iceland/iceland.mp4')}}" controls> </video>
    <br>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Little Book of</strong> Rather than one book, "The Little Book of" is a series of books written by 
            Alda Sigmundsdottir. Each book is an anthology of essays. For example, "The Little Book of Icelanders in The Old Days"
            contains a series of vignettes about what Iceland was like, you guessed it, back in the old days. Highly recommend this series.</p>
            <p><strong>Under the Glacier</strong> Halldór Laxness, the nobel laureate in literature from Iceland, writes an almost comedic
            meditation on religion and society in rural Iceland. One of his shorter novels, it serves as a good introduction to his work. </p>
            <p><strong>Saga of the Icelanders</strong> A sad disclaimer, I have not read this. But, the Saga of the Icelanders is the most 
                famous tale (or series of) in Icelandic literature. If you are a fan of pillaging, then this will become your bible.</p>
        </div>
    </div>
    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Geysir & Strokkur</strong> The geysir that all other geysirs are named after! Unforuntately, Geysir
        is now dormant, going off every day or so. Its more active brother Strokkur can be found blasting off about once every five minutes. 
        Hotpots, which are pockets of boiling water, can be found in the surrounding area.</p>
        <p><strong>Gullfoss</strong> A gorgeous, broad waterfall found at the top of the Golden Circle. The waterflow pours down
        a three step staircase of stone into a 105 foot crevice. If you come on a windy day like we did, prepare to get a little wet from the spray.</p>
    </div>
</div>    

{% endblock %}