{% extends "travel_base.html" %}

{% block content %}
<div class="black-church travel-article parallax">
    <div class="caption">
        <span class="border">ICELAND</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>celand can be a miserable rock when caught in the wind and sleet of the North Atlantic. It was our first real day in the country, and we had about five hours of driving ahead of us. We were going to loop around Snaefellsnes, a peninsula on the western coast of the country, seeing various waterfalls, beaches and mountains as we went.</p>
    <p>The landscape between Snaefellsnes and Reykjavik is barren and rocky. Trees do not readily grow that far north. And when they do, they are short and stubby--more like exaggerated bushes than the long pines and oaks of the United States. Due to the uninterrupted landscape, wind readily sweeps across Iceland. And so we found ourselves on the receiving end of arctic winds as moved further into the unpopulated north of the country.</p>
    <p>It began to rain. At first it was just a drizzle but as we went on, the rain picked up and was caught in the wind until it blew sideways. Outside my window, Icelandars herded fluffy sheep in the driving rain and seagulls floated in the choppy waters of the North Atlantic. In the few towns we passed, men closed their doors and parked their cars. </p>
    <p>At the center of Snafellsnes sits a giant glacier, famously the entry point into the world in the novel &quot;Journey to the Center of the Earth&quot;. It is my pet theory that this glacier drives microclimates on the peninsula. The temperature was on the cusp of freezing, so every time the road curved closer to the glacier, rain would turn to snow, and when we kept our distance, snow would turn back to rain. </p>
    <p>At first, the snow was light, almost charming. Our visibility was unaffected, and our only concern was that it would accumulate and prevent us from returning back. The road was only a single lane, and oftentimes there was no other cars ahead of us to make fresh tracks in the snow.</p>
    <p>The snow began to fall more heavily as we reached our first stop, Mount Kirkjufell,  so that by the time we arrived, a thick fog laid heavily upon the mountain and blocked the peak. We got back in the car and pressed on, driving closer and closer to the glacier. This big thing, this massive sheet of ice, held together by a thick wall of granite. It was a menacing reminder that we were only fifty or so miles from the arctic circle.</p>
    <p>As we drove, the road conditions rapidly deteriorated. The wind was in excess of 40 mph and blew white flakes of snow in a swirl around the car. Soon the ground became indistinguishable from the sky, and it all was a mix of white and wind. </p>
    <p>Iceland wisely places sets of yellow plastic sticks on either side of the road, perhaps every 20 feet or so, to help drivers in such conditions. We could barely see two sets of sticks ahead. As we rounded a mountain bend, we saw an eighteen-wheel truck stopped in the middle of the road, presumably waiting for the snow to pass. We snuck past, giving him a wave and a nod. </p>
    <p>And as quickly as the snow began, it ended, and we were out in rain and fog again. We zoomed along whenever there was rain instead of snow. Hoping to get off the peninsula and back to the mainland. And for awhile we were fine. But as soon as we grew comfortable, heavy snow would fall again, and we would have another twenty minute stretch of tense driving through blizzard.</p>
    <p>Our final stop of the day was at Búðakirkja, a black-painted church isolated from any noticeable congregation, deep in moss covered lava fields. It was raining when we arrived, and as I stepped out, a gust of wind blew the car doors open. I snapped a few pictures. On one side of the church was the tumultuous North Atlantic and on the other the white glacier.  </p>
    
</div>
<div class="vid">
    <h3>Walking on a Dream</h3>
    <hr>
    <video class = "vid-center" style='padding: 1rem;' 
    src="{{url_for('static', filename='images/travel/iceland/iceland.mp4')}}" controls> </video>
    <br>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Little Book of</strong> Rather than one book, "The Little Book of" is a series of books written by 
            Alda Sigmundsdottir. Each book is an anthology of essays. For example, "The Little Book of Icelanders in The Old Days"
            contains a series of vignettes about what Iceland was like, you guessed it, back in the old days. Highly recommend this series.</p>
            <p><strong>Under the Glacier</strong> Halldór Laxness, the nobel laureate in literature from Iceland, writes an almost comedic
            meditation on religion and society in rural Iceland. One of his shorter novels, it serves as a good introduction to his work. </p>
            <p><strong>Saga of the Icelanders</strong> A sad disclaimer, I have not read this. But, the Saga of the Icelanders is the most 
                famous tale (or series of) in Icelandic literature. If you are a fan of pillaging, then this will become your bible.</p>
        </div>
    </div>
    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Geysir & Strokkur</strong> The geysir that all other geysirs are named after! Unforuntately, Geysir
        is now dormant, going off every day or so. Its more active brother Strokkur can be found blasting off about once every five minutes. 
        Hotpots, which are pockets of boiling water, can be found in the surrounding area.</p>
        <p><strong>Gullfoss</strong> A gorgeous, broad waterfall found at the top of the Golden Circle. The waterflow pours down
        a three step staircase of stone into a 105 foot crevice. If you come on a windy day like we did, prepare to get a little wet from the spray.</p>
    </div>
</div>    

{% endblock %}