{% extends "travel_base.html" %}

{% block content %}
<div class="black-church travel-article parallax">
    <div class="caption">
        <span class="border">BLIZZARD</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>celand can be a miserable rock when caught in the wind and sleet of the North Atlantic. It was our first real day in the country, and we had about five hours of driving ahead of us. We were going to loop around Snaefellsnes, a peninsula on the western coast of the country, seeing various waterfalls, beaches and mountains as we went.</p>
    <p>The landscape between Snaefellsnes and Reykjavik is barren and rocky. Trees do not readily grow that far north. And when they do, they are short and stubby--more like exaggerated bushes than the long pines and oaks of the United States. Due to the uninterrupted landscape, wind readily sweeps across Iceland. And so we found ourselves on the receiving end of arctic winds as we moved further into the unpopulated north of the country.</p>
    <p>It began to rain. At first it was just a drizzle but as we went on, the rain picked up and was caught in the wind until it blew sideways. Outside my window, Icelandars herded fluffy sheep in the driving rain and seagulls floated in the choppy waters of the North Atlantic. </p>
    <p>The rain began to fall more heavily as we reached our first stop, Mount Kirkjufell, so that by the time we arrived, a thick fog laid heavily upon the mountain and blocked the peak. We got back in the car and pressed on, driving further into the peninsula. </p>
    <p>At the center of Snafellsnes sits a giant glacier, famously the entry point in the earth&#39;s crust in the novel &quot;Journey to the Center of the Earth&quot;. It&#39;s a sight to see: this big thing, this massive sheet of ice, held together by a thick wall of granite. It served as a foreboding reminder that we were only fifty or so miles from the arctic circle.</p>
    <p>It is my pet theory that this glacier drives microclimates on the peninsula. That day the temperature was on the cusp of freezing, so every time the road curved closer to the glacier, rain would turn to snow, and when we kept our distance, oftentimes when we were closer to the shore, snow would turn back to rain. </p>
    <p>As we began to drive inland, the snow was light, almost charming. Our visibility was unaffected, and our only concern was that it would accumulate and prevent us from returning back. It was an isolated single-lane stretch of road, and oftentimes there was no other cars ahead of us to make fresh tracks in the snow.</p>
    <p>Suddenly, the road conditions began to rapidly deteriorate. The wind was in excess of 40 mph and blew white flakes of snow in a swirl around the car. Soon the ground became indistinguishable from the sky, and it all was a mix of white and wind. </p>
    <p>Iceland wisely places sets of yellow plastic sticks on either side of the road, perhaps every 20 feet or so, to aid drivers in such conditions. But we could barely see two sets of sticks ahead. We drove in silence, and as we rounded a mountain bend, we saw an eighteen-wheel truck stopped in the middle of the road, presumably waiting for the snow to pass. We snuck past, giving him a wave and a nod. </p>
    <p>And as quickly as the snow began, it ended, and we were out in rain and fog again. This cycle of pockets of snow and then rain would repeat many more times. We zoomed along whenever there was rain, hoping to get off the peninsula and back to the mainland. But as soon as we grew comfortable and confident that we were in the clear, heavy snow would fall again, and we would have another twenty minute stretch of tense driving through blizzard.</p>
    <p>Our final stop of the day was at Búðakirkja, a black-painted church, found deep in moss covered lava fields, perpetually isolated from any noticeable congregation It was raining when we arrived, and as I stepped out, a gust of wind blew the car doors open. I snapped a few pictures. On one side of the church was the tumultuous North Atlantic and on the other the white glacier, the black asphalt line of the road, a dividing line between snow and rain. </p>

</div>

<div class="foss travel-article parallax">
    <div class="caption">
        <span class="border">FOSS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">S</span>teep rocky cliffs form a lip all along the southern coast of Iceland, marking the former coastline of Iceland and separating the interior highlands from the coastal lowlands. At the bottom of these cliffs, the ring road snakes along the perfectly flat land, with the cliffs to the left, and marshes, lava fields, and black sand beaches extending to the ocean on the right. Ice melt from massive glaciers pours off the cliff face forming hundreds of waterfalls that empty out to the North Sea.</p>
    <p>We had arrived at our hostel a little early that day and had some sunlight to burn. We were on our way to Seljalandsfoss and Skógafoss, two spectacular waterfalls about halfway between our hostels and Vik. As we drove, we admired the little unnamed waterfalls and ancient the cliff and turf houses that dotted the lowlands. I was particularly impressed with the tenacity of the sheep, some of which had managed to climb about halfway up the cliffside.</p>
    <p>We arrived at Seljalandsfoss first. It is a thin spout of water falling about 200 feet, behind which is cave deep enough to allow you to walk around. The mist from the waterfall leaves a thin layer of ice on the rocks and plants that surround the falls, making traversal difficult. We decided to try anyways. We grabbed hold of a metal chain, covered in about an inch of ice and carefully clamored across ice covered rocks. After about ten minutes of very slow, purposeful steps, we reached the area behind the falls. We snapped pictures and decided to continue up a rock covered hill to the vantage point on the other side, after which we would carefully walk down ice covered metal stairs and back to our car, glad that we hadn&#39;t slipped and broken out necks.  </p>
    <p>Skógafoss did not feature the same icy dangers as Seljalandsfoss. It falls the same 200 feet from the Icelandic highlands down to the coastal lowlands, but is much wider, spanning nearly 85 feet. On the left side of the falls are set of steep stairs, which despite the setting sun, we of course climbed up. </p>
    <p>We were greeted with rolling yellow-green hills and the setting sun. Sunsets in Iceland are hours long affairs. In October, when we were traveling, the sun never reaches its typical noon-time pinnacle, instead sitting in low in the southwestern quadrant of the sky the entire day. By midday, it maybe climbs a third of the way up. Due to its low hanging, southernly position the highlands of southern Iceland glow orange for final two hours of the day. </p>
    <p>Megan and I sat along the banks of the Skóga in the orange glow of the arctic sun. The wind barely blew and the sky was clear. It would be the most peaceful moment we would have up in that northern edge of the world. </p>

</div>

<div class="vid">
    <h3>Walking on a Dream</h3>
    <hr>
    <video class = "vid-center" style='padding: 1rem;' 
    src="{{url_for('static', filename='images/travel/iceland/iceland.mp4')}}" controls> </video>
    <br>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>The Little Book of</strong> Rather than one book, "The Little Book of" is a series of books written by 
            Alda Sigmundsdottir. Each book is an anthology of essays. For example, "The Little Book of Icelanders in The Old Days"
            contains a series of vignettes about what Iceland was like, you guessed it, back in the old days. Highly recommend this series.</p>
            <p><strong>Under the Glacier</strong> Halldór Laxness, the nobel laureate in literature from Iceland, writes an almost comedic
            meditation on religion and society in rural Iceland. One of his shorter novels, it serves as a good introduction to his work. </p>
            <p><strong>Saga of the Icelanders</strong> A sad disclaimer, I have not read this. But, the Saga of the Icelanders is the most 
                famous tale (or series of) in Icelandic literature. If you are a fan of pillaging, then this will become your bible.</p>
        </div>
    </div>
    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Geysir & Strokkur</strong> The geysir that all other geysirs are named after! Unforuntately, Geysir
        is now dormant, going off every day or so. Its more active brother Strokkur can be found blasting off about once every five minutes. 
        Hotpots, which are pockets of boiling water, can be found in the surrounding area.</p>
        <p><strong>Gullfoss</strong> A gorgeous, broad waterfall found at the top of the Golden Circle. The waterflow pours down
        a three step staircase of stone into a 105 foot crevice. If you come on a windy day like we did, prepare to get a little wet from the spray.</p>
    </div>
</div>    

{% endblock %}