{% extends "travel_base.html" %}

{% block content %}

<div class="spin travel-article parallax">
    <div class="caption">
        <span class="border">FIRST DATE</span>
    </div>
</div>

<div class="para-tex">

<p>I pulled up Hinge on my phone. I wanted to double check the name. &quot;Megan&quot;, I said to myself. I watched the rain drizzle from my Uber. It was cool but not exceptionally cold for late December. I was a little nervous about time as I was going to be late. We were headed to &quot;Spin&quot;, which is a barcade specializing in Ping Pong. I thought it was a good idea for the first few dates to have an activity in case there were lulls in conversation.</p>
<p>I was excited for this date, much more than the others I had recently been on. The conversation had been good over text, and she looked cute in her pictures. </p>
<p>Megan texted me that she was running late, so we actually ended up arriving at the same time. I gave her an awkward hug. She looked at me and smiled. We stood there in the doorway for a second. I suggested we head inside and motioned for her to go ahead.</p>
<p>&quot;Here we go!&quot;, she said, nervously looking back at me as she walked into the bar. I thought that was adorable.  </p>
</div>
<div class="fireworks-fourth travel-article parallax">
    <div class="caption">
        <span class="border">THE FOURTH</span>
    </div>
</div>

<div class="para-tex">

<p>It was a warm evening on the Fourth of July. We sat atop the lip of a railing that separated the resident accessible portion of the rooftop from the air-conditioners and other various mechanical entities. The DC skyline was a kaleidoscope of red, white, and blue as fireworks burst in all directions. Due to the height limit enforced flatness of DC, from any given rooftop, you could see every neighborhood fireworks display, and there were hundreds of such citizen led efforts. </p>
<p>I put my arm around Megan. I squeezed her closer. I knew this was the right moment, but I was nervous. Three words can carry so much weight. We watched as different displays of fireworks cropped up and petered out. I shifted along the railing, my arm around Megan began to feel heavy and forced, like a high school boy putting his arm around a girl for the first time. </p>
<p>&quot;I love you.&quot; I said. There was a moment of quiet.</p>
<p>&quot;I love you too.&quot;</p>
<p>We both sat there awkwardly beaming having shared such an intimate moment in a public place. We watched the fireworks for a bit longer and then returned to my apartment. I put on &quot;Special Lady&quot; by Ray, Goodman and Brown, and we danced as fireworks illuminated the radio tower outside my one bedroom apartment.</p>

</div>
{% endblock %}
