{% extends "travel_base.html" %}

{% block content %}
<div class="san-juan travel-article parallax">
    <div class="caption">
        <span class="border">SAN JUAN</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">I</span>t was our first night in San Juan. We were staying a block or two outside of the Oldtown in a Sheraton by the water. Even though it was late, we were itching to see the city. We walked up Calle de la Tanca. The city was bathed in the ethereal yellow light of fluorescent lamps, and the streets had been emptied out of people. It felt a bit eerie, like we were walking through a museum after closing. </p>
    <p>&quot;Its a little bit creepy here,&quot; my dad said. There is something naturally unsettling about a new city, especially at night, and although San Juan was built in a grid, we found ourselves getting turned around more than we anticipated. The uniform heights and layout of the pastel colonials, while charming in the light, did not provide any landmarks to anchor us. </p>
    <p>&quot;Its safe here right?&quot; My dad asked.</p>
    <p>&quot;Yeah of course, it&#39;s like tourist central.&quot;</p>
    <p>It really was. Old San Juan is ten or twelve city blocks of Spanish-Colonial townhouses built on cobble stone streets, all encased in 42 foot high city walls. It is located on a small island that sits just across the Bay of San Juan from the mainland. The city walls are bookended by two massive colonial fortresses, Castillo de San Cristobal and Castillo San Felipe del Morro. </p>
    <p>Most of the townhomes are two stories, with wrought iron balconies and flat facades. Each home is painted a different pastel color, lending an element of vibrancy and charm to the city. Colonial Spanish cities are famous for their organization, which was determined by royal decree in the late 16th century. Everything from the height of the buildings, to the dimensions of the main square, to the location of the churches was standardized. Founded in 1521, San Juan predates that decree by about fifty years and lacks some of the neatness found in other cities. The main church, Catedral Basilica Menor de San Juan Bautista, is not directly on the main square, Plaza de Armas, for example. </p>
    <p>I think the distinct lack of tourists or really anyone out and about is what was throwing us off. Although slightly apprehensive, I wasn&#39;t too worried. I patted my dad on the back. &quot;There is nothing to worry about. Don&#39;t forget, this is the United States. It&#39;s safe here.&quot;</p>
    <p>As we turned a corner into an alley, we suddenly heard the sound of someone dragging a large chain across cobblestone streets. We looked at each other and promptly decided to return to our hotel room.</p>
    <p>The next morning we emerged from the safety of our Hilton Honors hotel and ventured back into the city. Little children, their nose blotched with a strip of white sunblock, walked up and down the streets. A street vendor with a parrot enticed tourist to take a picture. A cruise ship was anchored in the port right outside our hotel. It was all too clear that there was nothing to be afraid of. </p>    
</div>

{% endblock %}