{% extends "travel_base.html" %}

{% block content %}
<div class="montreal travel-article parallax">
    <div class="caption">
        <span class="border">MONTREAL</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">F</span>renchness is enforced in Quebec. All signs, public and private, must be in French, though English is permitted if the font is smaller and below the French. There is a French language ministry, and a newly created legion of language inspectors who will be inspecting if businesses do their business in French, with heavy fines for those who do not. </p>
    <p>But all of this is not long for the world said our cab driver as we first entered the city. He was a recent immigrant originally hailing from Algeria with an intermediary stop in the United Kingdom. Through his Algerian ancestry, he may have been a beneficiary of Quebec&#39;s new policy of taking immigrants from primarily francophone countries. </p>
    <p>&quot;I do not like the French much.&quot; He told us, &quot;They are too serious about how we live. I had someone from the government asking if I spoke French at home. My son and I are Algerian, so we speak Arabic.&quot;</p>
    <p>We nodded along as he monologued, &quot;I like the English much better. They are more open. More willing to let you be yourself. Montreal is becoming more and more English, and I think that is a good thing.&quot; </p>
    <p>Later a tour guide would also offer his unsolicited opinion on the centrality of French. He was a retired professor and besides a brief stint in Boston for college, had lived his entire life in Quebec. &quot;Montreal is still very much a French speaking city. I couldn&#39;t imagine someone living here who didn&#39;t speak it. I don&#39;t think you could.&quot; He told us over a large steaming plate of poutine, &quot;Its becoming more so. The government is proposing to only accept immigrants from francophone countries in the future. You know like Haiti, Algeria, Morocco, even France itself.&quot;</p>
    <p>The Quebecois often refer to the French as their cousins, ones who abandoned them in exchange for sugar colonies after losing the Seven Years War. Moreover, there is a sense of victimhood for the Quebecois. They feel that they are victims of British imperialism, rather than perpetrators of French imperialism. That the government of English Canada disenfranchised their ancestors with English written contracts they could not understand. That their identity was nearly erased by English immigration, and only saved through a strong provincial government asserting its inherent Frenchitude. Matter of fact, they nearly declared independence from Canada in the 90&#39;s, losing a popular referendum on the subject, 49-51.   </p>
    <p>It&#39;s a tiny enclave of Frenchness paddling hard against a perceived torrent of globalism. Multiple tour guide mentioned with furrowed brows that Quebec once had the highest birthrate in Canada but now has the lowest. There is a pervasive neuroticism that the French-Canadian culture is slipping away. </p>
    <p>But for all the dramatic handwringing, the Frenchness of Quebec is in fact why we wanted to visit. We wanted to step on the metro and hear the announcements in French. We wanted waiters, servers, and shopkeeps to greet us with a &quot;Bonjour!&quot; We wanted to walk around Old Montreal and pretend just for the moment that we were in the streets of a much colder, smaller Paris. </p>
    <p>And as we first ventured out to the streets of Montreal, we found the locals conversing in French. We found the signs to be in French. We found that everyone assumed we spoke French, and only after seeing our blank stare would that ask if would prefer French or English for the encounter. The Frenchness remains safely in tact. </p>

</div>
<div class="quebec_city travel-article parallax">
    <div class="caption">
        <span class="border">QUEBEC CITY</span>
    </div>
</div>
<div class="para-tex">
        <p><span class="firstcharacter">&quot;I</span>magine coming here every Christmas&quot;, Megan said. I looked down at the mulled wine and to-go fondue we had bought at a Christmas market set up in the shadow of the imposing Chateau Frontenac, its weathered red brick, imposing turrets, and grayish-green roof looming over us. </p>
        <p>I leaned against the railing of the sun deck and looked down at the Saint Lawerance. There was piles of snow and ice on the deck. The white and green victorian gazebos serving no function due to the cloudy winter sky. There was soft music playing and couples walking together in heavy coats, passing from stall to stall. </p>
        <p>&quot;No, we couldn&#39;t possibly. It would simply be too much.&quot;</p>
        <p>&quot;But imagine taking our kids here, telling them that this is where Santa lived.&quot; That would be fun I thought to myself. I don&#39;t think I have ever seen a hotel quite as large as Chateau Frontenac, all of Quebec City appears to be built around it. What if we said Santa lived in there? </p>
        <p>&quot;No, we can&#39;t. It&#39;s like buying vineyard in France or Spain. It&#39;s something you talk about doing but for whatever reason never actually do,&quot; I said. </p>
        <p>We finished our mulled wine and decided to walk to Petite Champlain. </p>
        <p>I know we couldn&#39;t come here every Christmas. It would be far too pretentious, something the rich kids in a convoluted Disney Channel movie would do. People would hate us. But you know, what if we did it anyways?</p>
        
</div>
<div class="painting travel-article parallax">
    <div class="caption">
        <span class="border">PAINTING</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">O</span>n advice from Selena and Denise, I took a forty minute cab ride to the
        middle of Montevideo to pick up enamel
        plates from Estamaltados SUE. The store itself--despite being featured in a must-do travel article--felt almost
        shockingly nondescript. The storefront was a single room, separated from the elements by a rolling metal grate.
        Hundreds of pots, pans, plates, bowls and other various enamel dishes hung along the walls and stacked up
        throughout the room.</p>
    <p>After traveling to an ATM to retrieve cash, I bought a half dozen plates and a tea kettle. They really were nice.
        They had red rims and specs of red paint across body of the plate. The plates felt sturdy and modern, but still
        the type of plate that a kid would eat Kraft Mac and Cheese off of. Due to their metallic feel, I surmised that
        I could not put these in a microwave.</p>
    <p>With enamel plates in hand, I ordered a cab back to the hostel. The cab was an old car, painted black with yellow
        trim and driven by an Italian looking man with white mustache. As we drove back, it began to rain. It was one of
        those light rains, where the sun peaks through in spots from time to time. The city began bustling with people
        running into stores and homes, covering their heads with newspapers. </p>
    <p>The cab took me down a different route back than the one I came. We went through a residential part of town,
        filled with single story, plaster homes. The houses were painted pastel colors with white trimmed windows and
        ceramic tiled roofs. Despite being made from concrete and plaster, the houses looked almost flimsy, though
        perhaps lived-in is the better word. The lawns, which were no more than ten feet from road to doorstep, were
        encased in metal pole fencing. There wasn&#39;t much grass or greenery, so the rain quickly pooled along the
        roadside, and people splashed in puddles as they dashed inside. Needless to say, this is the Montevideo that
        people actually live in.</p>
    <p>The driver was singing along to the radio. I wish I could remember which song was playing--though I am not sure I
        had heard it before or since. Through my limited Spanish, I could tell the singer was a contestant performing
        for a singing competition. She had a light airy voice, which lent a quality of both hope and mourning to the
        melody, even as she stumbled across some of the English pronunciations. </p>
    <p>It seemed to fit so well--the rain, the town, and this song. Uruguay, like its big brother Argentina, had seen
        better days and as the rain poured and the woman sang this hopeful song, I felt a thick clump of emotion rise
        within me. Emotion for a place and time that I had never known and had no claim to even really care for. I
        wanted the clouds to part and for Uruguay to be a bustling melting pot of Italian and Spanish immigrants,
        bringing new old-world cuisines, customs, and French architecture into the city once again. </p>
    <p>Eventually both the rain and the song ended, and I was back in old town. I paid the cab driver and stepped out
        back into the tourist approved section of town, which was just as empty as I had left it.</p>
</div>
<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Two Other Things</h4>
            <p><strong>Mercado del Puerto</strong> This historic main market is located steps from the port. You can buy
                all
                sorts of meats and groceries here. I unfortunately purchased an incrediblely expensive plate of
                different
                meats and sausages that were a little too greasy for my palate.</p>
            <p><strong>Cafe Brasilero</strong> I happened upon this spot after attempting to get breakfast someplace
                else.
                Turns out that this cafe is Uruguay oldest operating business. The churros with choclate sauce were the
                best
                I have ever had. Do not miss this.</p>

        </div>
    </div>
    <div class="other">
        <h4>Read Before Going</h4>
        <p><strong>Little Indiscretions</strong> A fun, fast-paced mystery, Little Indiscretions combines social
            satire and classic whodunit tropes into an enjoyable if simple book. A great book to read at the beach.
        </p>
        <p><strong>Alive!</strong> In 1972, the Uruguayan rugby team crashed deep in the Andes mountains. Follow the
            harrowing tale of the 34 survivors as they try to reach civilization.
        </p>
    </div>
</div>
{% endblock %}