{% extends "travel_base.html" %}

{% block content %}

<div class="road travel-article parallax">
    <div class="caption">
        <span class="border">ON THE ROAD</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">D</span>riving through Grand Staircase-Escalante National Monument, with my entire
        life crammed into the back of a van,
        I felt wonderfully untethered from my normal life. I had enough food and water to last a week or two, and no
        where I had to be until April 16th. I could go quite literally anywhere and do almost anything. </p>
    <p>Inspired by overly romanticized instagram posts and YouTube videos, my girlfriend Megan and I had decided to rent
        a campervan to take on a two week road trip across the southwest. We were not campers. In fact, neither of us
        had been camping since we were kids. But we were both in our late twenties, and with the long yawning expanse of
        the rest of our lives staring at us, we felt it necessary to make adventurous memories while still young. </p>
    <p>We had planned for the trip to last two weeks, but due to a scheduling conflict, I ended up spending the first
        week alone. I would fly into Vegas, visit Zion, Bryce Canyon and Capital Reef, and then meet up with Megan in
        Grand Junction in route to Moab and the rest of the trip. </p>
    <p>And so it was that I found myself alone in the van teetering atop canyon edges as I barreled my way across Utah
        State Route 12 from Bryce Canyon to Capital Reef. The twenty dollar gas station aviators did little to protect
        my sunburnt eyes, and I was nursing a head ache from altitude sickness. </p>
    <p>But by this time, I was feeling a bit more secure in my ability to live out of the van. In the front, there was a
        drivers and passengers seat, with a forty pack of water between. Directly behind the front seats was the bed. I
        had bought a 60 dollar mattress topper and some cheap navy blue sheets from Walmart. That combined with the down
        comforter provided by the van company and battery powered string lights bought from Amazon created a remarkably
        comfortable sleeping quarters--ones that stood up well even to a twenty degree night in Bryce Canyon and snow in
        Great Dunes. </p>
    <p>In the far back, there was the kitchen. This consisted of an overhead light, a propane powered camping stove, and
        a solar powered fridge. It mostly served as a pancake/soup station for campsites that forbade wood fires. The
        outside of the van was covered in mural of a dragon guarding a treasure chest, and the van itself was called
        &quot;Dragon&quot; by the company. </p>
    <p>I must admit some of my favorite memories on the trip were the drives between parks, particularly the drive
        through Grand Staircase. This part of America is empty. Driving between Vegas and Zion, I saw
        plenty of places to stop and get gas, and the same was true between Zion and Bryce, but between Bryce and
        Capital Reef, there was nothing. No exits, no roadside gas stations, no farms, no houses. Just desert, canyons,
        and a road.</p>
    <p>There was however a scenic turnoff where you could overlook a particular attractive vista of the sandstone
        canyons, and in this turnoff, there was a sign which captured the feeling of driving through the empty
        expanse of the southwest, all alone in a van named dragon, quite well. It read:</p>
    <blockquote>
        <p>You&#39;re looking out over some of the wildest lands in the United States. The last area to be mapped in the
            lower 48 states, this rugged region remains a sparsely loaded frontier.</p>
        <p>You&#39;re standing in the 1.9 million acre Grand Staircase-Escalante National Monument, where conserving the
            land&#39;s wild character is a top priority. These public lands don&#39;t just protect astounding scientific
            values. <strong>They safeguard one of the rarest natural resources of all--the opportunity for solitude-- in
                a landscape sculpted by wind, water, and time.</strong></p>
    </blockquote>
    <p>&nbsp;</p>
</div>
<div class="zion travel-article parallax">
    <div class="caption">
        <span class="border">ZION SHUTTLE SERVICE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">Z</span>ion was not a success. A sinister confluence of events had left me stranded
        in the park with about five hours to burn. </p>
    <p>First, too many people enjoy nature now. Once all the coffee shops, restaurants, theaters, music venues, sports
        stadiums and bars closed for covid, all of America collectively looked around and said, &quot;well I guess
        nature is what&#39;s left&quot;, so we all packed our things and decided to go to America&#39;s National Parks.
    </p>
    <p>All at once, and especially to Zion. </p>
    <p>As a result, the parking lots at the trail heads cannot handle the number of visitors, and the only way to enter
        and exit the park is in shuttles--shuttles that have set pick up and drop off times and that you have to sign up
        for months in advance.</p>
    <p>I, being an obnoxious Type A planner that I am, had signed up for a shuttle well in advance, but for all my
        planning, I could not anticipate that Angel&#39;s Landing would just so happen to be closed for the only day
        that I was there for trail repairs. That was the second problem.</p>
    <p>Third, I did not have rubber pants. On Zion&#39;s most famous trail, the Narrows, you walk through a shallow
        creek that cuts through a deep slot canyon. It&#39;s supposed to be a transformational experience but one that
        requires rubber pants as you are often knee deep in snow melt. I did not reserve the prerequisite pants because
        the National Park Service website said the trail was still closed for the winter.</p>
    <p>So there I was dropped off in Zion National Park at 10 am, with only a one mile river walk to do and a pick up
        time of 4 pm. </p>
    <p>However, there was hope. On the way down, the shuttle driver told me that I could ask anyone from his company if
        there was room on their shuttle and then head back with them.</p>
    <p>So I completed the available one mile hike and then returned back to the parking lot to catch a shuttle back. It
        was 11:40 and the next shuttles were set to leave at 12:00. I approached the driver and told him my situation
        and asked if there was room on his shuttle. </p>
    <p>He looked at me with surprise and disgust, like I just admitted to being a serial puppy kicker and said,
        &quot;Who told you that?&quot; I explained the other shuttle driver had. &quot;Well he&#39;s lying to you.
        That&#39;s against policy.&quot;</p>
    <p>I stared at him blankly. He went on, &quot;It&#39;s not your fault though. Go ahead and hop in the front
        seat.&quot;</p>
    <p>&quot;Now?&quot;, I asked. </p>
    <p>&quot;Yeah, when else?&quot;</p>
    <p>So I got into the front seat, and to my surprise, we were off, just me and him--a full twenty minutes before his
        next shuttle was supposed to leave. </p>
    <p>He was a larger man with a chin strap beard and a blunt sense of humor. He told me that he had been having
        trouble with his coworkers because they didn&#39;t have a sense of humor and would call him unprofessional. I
        did my best to agree with whatever he was saying since he was giving me a ride. </p>
    <p>He had an unsettling habit of mirroring back whatever I said to him but larger. I told him I played video games,
        and he told me that he used to be on the number two Call of Duty team in the world. I told him I was a computer
        scientist, and he told me that so was he. He just drove the van as a hobby and actually had a six figure job
        offer awaiting his decision back home. </p>
    <p>After he remarked that I was a little too quiet, I told him that I was feeling off because I hadn&#39;t slept the
        night before. This was true. It was my first night in the van, and I couldn&#39;t fall asleep until 5 am. He
        then told me that he <em>also</em> hadn&#39;t fallen asleep last night, and in fact, he was up coughing up blood
        all night. </p>
    <p>This is not a welcome comment when you are alone in a van with a stranger in the time of covid. I told him that
        he should get a covid test, and he told me that he would get an iced tea because the coughing was a result of a
        dry throat.</p>
    <p>Fortunately for me, we had arrived back in Springdale by this point. When I got out of the van I was convinced of
        two things: one, that that was not a sanctioned shuttle ride and two, that I would be very easy to kidnap. </p>

</div>
<div class="bryce travel-article parallax">
    <div class="caption">
        <span class="border">MORMON DIXIE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">S</span>top me if you&#39;ve heard this before.</p>
    <p>A strict sect of the protestant church feels prosecuted in their homeland, so they head west to a land virtually
        untouched by Europeans. They mostly settle in the north of this new country where industry and trade flourishes.
        In the south, agriculture focused on cotton takes root, earning the region the nickname of Dixie. </p>
    <p>This is the story of Utah of course!</p>
    <p>After Brigham Young settled on Utah for his new Mormon homeland, he determined that the southern part of Utah
        should be used to raise cotton to support an independent textile industry. Upon his directive, newly minted
        Mormons from the Virginia, Texas, and Tennessee poured into the Southwest corner of the Utah, giving it the
        nickname Dixie.</p>
    <p>Unlike earlier Virginians, I was coming to this part of Utah, not to grow cotton, but to look at rocks. But not
        just any rocks, red rocks. </p>
    <p>While I had whiffed pretty hard in Zion, I found an incredible abundance of gorgeous formations in Bryce Canyon
        and Capital Reef. </p>
    <p>As you approach the lip of Bryce Canyon, you walk through a flat, somewhat rocky, forest of evergreen trees. But
        then, suddenly, the trees clear, and you can see miles and miles of desert and canyon lands, red sandstone
        walls, pockets of snow, and clear blue skies, dusty trails and tourists on horseback, kicking up sand as they
        march into the canyon. </p>
    <p>It&#39;s a spectacular moment, one punctuated by its unexpected arrival. </p>
    <p>The amphitheater itself is populated by hoodoos, which are tall, thin spires of rock, shaped by snow and wind.
        The formations are irregular and unbalanced, reminding me of the drip castles I would make at the beach as a
        kid. There are perhaps thousands of these spires in the canyon. The Paiute believed that these formations were
        the remains of a wicked tribe who were cast into stone by a trickster coyote god. </p>
    <p>The legend goes that there once was a greedy people whose avarice caused the countryside to become barren. They
        drank up all the rivers and stripped the forest of food. So the coyote god invited them to a grand banquet in
        his canyon. But before they could take a bite, his cursed them, turning them into stone as they tried to escape.
    </p>
    <p>I imagine, in part, the purpose of the Paiute tale was to keep children from wandering off into the valley. In
        the canyon, the hoodoos turn into labyrinth of sandstone walls that ensnare and confuse those unfamiliar with
        the terrain.</p>
    <p>The disorienting nature of Dixie&#39;s canyons was not lost on the outlaws of the Wild West who would commonly
        use them as hideouts from the law. In Capital Reef, I would hike the Grand Wash trail which famously contains
        one of Butch Cassidy&#39;s old hideouts. </p>
    <p>The trail takes you through an impressively deep wash, with large looming sandstone walls. I can imagine lawmen
        creeping through the canyon, only to turn a corner and find themselves on the wrong end of Butch Cassidy&#39;s
        gun. Now, the only real threat lurking in the canyon walls is the sheer number of sunburnt tourists and kids
        loudly discussing Fortnite. </p>
    <p>The Grand Wash trail terminates next to Cassidy Arch, a massive deep stone formation that more closely resembles
        a tunnel than an arch. I sat atop the arch and looked out across the desert. I had expected to hike about four
        miles across flat terrain to get here, but had ended up hiking nine miles up the side of the canyon to get to
        the arch. I had about six hours of driving ahead of me to get to Moab and then pick up my girlfriend at Grand
        Junction.</p>
    <p>I had better get going. </p>

</div>

<div class="arch travel-article parallax">
    <div class="caption">
        <span class="border">MOAB</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">T</span>he town of Moab shares a certain resemblance to the red planet. The forces of nature here are quite different than in the East. All of red rock country is essentially rusting sandstone and hermatite shale. Water and wind twist this oxidized rock into bends and arches, forming its famously alien looking landscape. </p>
<p>In the town itself, there is one main strip, lined with t shirt shops, old saloons, and a few restaurants. The town originally grew up around the uranium trade, lending more to its space age vibe. </p>
<p>Megan and I had only a day in the park. And besides Zion, Arches would be the most crowded place we would go. We first attempted to enter the park around noon but was greeted with a sign informing us that the outdoors was full that day and that we should try again in a few hours. </p>
<p>When we did return, we found long trail of cars winding their way into the park and a full parking lot at the trailhead for Delicate Arch. </p>
<p>The trail was not long and only contained one steep section, which was covered with line of people, marching forward like ants. The arch itself sits in a natural amphitheater and through the arch you can see miles of canyons and the La Sal mountains the background.  </p>
<p>In the foreground, you will almost surely find a family of tourist standing directly in the center of the arch. I cannot explain how frustrating this is. There is nearly 100 people all standing around the arch, clutching their cameras and smart phones, hoping to get a picture of the arch, and then there is this one family, resting themselves against the side of the arch, chugging water and taking deep restful stretches. </p>
<p>The social blindness it requires to not notice 100 faces glaring down at you as decamp in front of the natural wonder that many have traveled hundreds of miles to see truly astounds me. </p>
<p>But for every 100 people, there is always one who is too oblivious to realize what a pain they are, and who needs someone else to kindly remind them that everyone had traveled here to get a picture of the arch, not them and the arch. I, of course, was that person.  </p>
<p>Everyone who writes about Moab quotes Edward Abbey, so I must do the same. His book &quot;Desert Solitaire&quot; careens between vivid descriptions of the uranium dusted landscape, epistles on American politics, and diatribes against the commercialization of the desert. </p>
<p>After being forced to shoo away a family of tourists, I found myself thinking of this following passage:</p>
<blockquote><p>Industrial tourism is a threat to the national parks. But the chief victims of the system are the motorized tourist. They are being robbed and robbing themselves. So long as they are unwilling to crawl out of their cars they will not discover the treasures of the national parks and will never escape the stress and turmoil of those urban-suburban complexes which they had hoped, presumably, to leave behind for a while.</p>
</blockquote>
<p>Abbey wants to limit accessibility to the parks to save them from unwashed, car driving masses. You will find this opinion popular among those who love the parks the most. Wouldn&#39;t it be nice if cars weren&#39;t allowed in the park, so that only the most dedicated could enjoy them? And of course, all these people trekking out to see the parks is destroying their natural splendor.  </p>
<p>This is of course a terribly elitist view. </p>
<p>Everyone would love to have the parks to themselves. But we can&#39;t have the parks to ourselves. The demand for lonely scenic views greatly outstrips the supply of lonely scenic views. I am not sure of the solution, but it should definitely involve preventing tourists from spending an extended period standing the middle of delicate arch. </p>

</div>

<div class="valley travel-article parallax">
    <div class="caption">
        <span class="border">MONUMENT VALLEY</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">&quot;J</span>ust another day on the reservation.&quot; </p>
    <p>Our guide had just chastised someone who had pulled his car over and started peeing on the side of the road.
        Driving in, we saw that the roadside was littered with the broken glass. The roadside was so throughly
        covered that it glittered in the sun, leading me to think that the soil was composed of bits of metallic
        reflective rock at first. </p>
    <p>I asked the guide why people didn&#39;t just drink at home. &quot;They don&#39;t respect themselves. They buy the
        alcohol over in Mexican Hat because its illegal to sell here on the reservation. Then they drink on the ride in
        and then at their homes too.&quot;</p>
    <p>We were riding horseback. I was finding that my right leg was cramping more than I had expected. I removed it
        from the stirrup and tried straightening my leg. He went on, &quot;A few years ago, my sister and nephews were
        killed by a drunk driver trying to pass a truck. Crazy.&quot;</p>
    <p>I told him that I was sorry to hear that, and he told me it was just another day on the reservation. </p>
    <p>Entering Monument Valley proper was off limits due to covid, so we were horseback riding a little north of a KOA
        campsite. Monument Valley has an unnatural feel to it. Most of the surrounding area is relatively flat, and
        coming into the valley you can see miles of road ahead of you, with just the mesas and buttes on the skyline.
    </p>
    <p>The mesas look foreign, maybe even accidental, to the rest of the landscape. Huge towers of red sandstone rising
        out of rough reddish brown sand. Eerie orphans, the mesas are the last remnants of the layer of sandstone that
        once covered the entire region, the rest washed away by wind, water, and time. </p>
    <p>I snap a pictures on both my camera and my girlfriends phone. </p>
    <p>It&#39;s cloudy, so the characteristic sunset red glow is dulled, but it&#39;s a beautiful sight none the less.
        Near the base of the mesa, we saw a few ranches and a couple of free range horses. Our guide told us that we
        should wake up to see the sunrise, with the morning dew glistening off the patches of grass. He slowed his horse
        down, so he could proudly show me a picture he had taken a few mornings ago. </p>
    <p>&quot;It&#39;s beautiful out here&quot;, he said flipping through pictures, &quot;Every day is like this out here
        on the reservation.&quot; </p>

</div>
<div class="cliff travel-article parallax">
    <div class="caption">
        <span class="border">MESA VERDE</span>
    </div>
</div>
<div class="para-tex">
    <p><span class = "firstcharacter">T</span>here is little in the way of the esoteric in the United States. There are few ancient ruins. This is especially true in the east, but in the southwest, there is the ruins of the Anasazi. The ancient Puebloans carved toe holds of civilization into the cliff sides of the Colorado plateau. </p>
    <p>Megan and I would be visiting the largest of these sites at Mesa Verde. In Monument Valley, the landscape was dominated by large, red mesas that would jut out from the flat desert landscape, so named for the Spanish word for table. But further east, in Colorado, the mesa were a combination of the golden yellow sandstone, topped with green vegetation, and were thus called &quot;Mesa Verde&quot; or green table. </p>
    <p>A tall mountain topped with such a mesa guarded the entrance of the park, and it would be a forty five minute drive, along winding mountain roads reaching 7,000 feet in elevation, before we found the cliff dwellings. </p>
    <p>Suffice it to say, the cliff dwellings felt remote. Rivers formed deep cracks in the mesas, and it was in these cracks that the cliff dwellings were built. An audio tour would inform us the Anasazi would farm on top of the mesas and gather water from the bottom of the cliffs. </p>
    <p>I had to wonder why they choose the sites that they did. The water source was at least 100 feet below where they lived and the farmland was a good fifty feet above them. Would it not have made more sense to build atop the mesa rather than within its side?</p>
    <p>It&#39;s a mystery we may never have an answer to. The Anasazi abandoned these sites in the 12th and 13th century, a few hundred years before Europeans arrived on the continent. The prevailing theories are the a combination of drought and encroachment by the Comanche and Navajo drove out the Anasazi. Incidentally, the word anasazi actually means &quot;ancient enemy&quot; in Navajo.</p>
    <p>The ruins wouldn&#39;t be rediscovered until 1888 when Richard Wetherill would stumble upon them after receiving a tip about an ancient city in the clouds from the local Navajo. He and his brothers would then dedicate their life to properly documenting dozens of Anasazi sites throughout the southwest.  </p>
    <p>We couldn&#39;t visit the ruins up close. Instead we had to settle for the views of the buildings from the other side of the valley. It was sunset when we began a whirlwind tour, heading from outlook to outlook. </p>
    <p>The golden light illuminated the cliff&#39;s edge. Across the way was the remains of a four story building. The sandstone walls, mortar, and wooden beams bathed in the red light. The path from where we stood to the cliff palace would have included a frightening descent down a rope ladder and toe hold cracks. </p>
    <p>The effort it must have taken to transport sandstone blocks down for its construction must have been tremendous. The lives lived here must have felt so regal, overlooking the green ravine below. There is few other sites like it in the world, where an ancient people choose such rough terrain to build their home. </p>
    <p>For us so remote and alien, but for them, the center of the universe. We stood for a moment, trying to imagine life in such a place. I snapped a picture, and we moved onto the next outlook.    </p>
    
</div>
<div class="sanjuan travel-article parallax">
    <div class="caption">
        <span class="border">SAN JUANS</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">B</span>eing in your late twenties is a weird time. You are no longer the next
        generation. The movies stars, athletes,
        and musicians are all younger than you. You no longer want to go out on Friday nights drinking with friends.
        Your back hurts when you get up, and sometimes baristas call you sir. My sister who is <em>only three years
            older
            than me</em> is married to an accountant and has two kids. And in my most blatant display of
        old-man-yelling-at-clouds, I&#39;ve begun to think new music almost uniformly sucks. </p>
    <p>Neither me nor Megan are quite ready for the suburban life, and this trip was a quiet rebellion against the
        passage of time. We could still live out of a van, hike all day, and eat ramen and hotdogs at night. </p>
    <p>It was under this pall of growing older that we found ourselves driving through the San Juan Mountains, and upon
        seeing the faint outline of a waterfall, we took an abrupt u-turn into a roadside parking lot to check it out.
    </p>
    <p>Though we could see the waterfall fine from the parking lot, we were intrigued by the snow covered trail that led
        deeper into the mountains. We would do it. We would show just how young and spontaneous we could be. A poorly
        marked primitive trail deep in rockies would be the perfect tonic to our rapidly approaching early thirties.
    </p>
    <p>About ten minutes into our impromptu hike, we realized we were walking on packed snow. More and more, our weight
        would cut through the surface and our legs would sink knee deep into snow, but this only reinforced the
        adventure of
        it all. </p>
    <p>&quot;Remember the time we went on that hike and found ourselves knee deep in snow in Colorado?&quot;, we would
        say to eachother over Stella Artois in Virginia suburbs, &quot;We aren&#39;t a boring couple. We are a fun and
        spontaneous couple, and we definitely aren&#39;t getting old!&quot;</p>
    <p>We pressed on. </p>
    <p>The trail was not well marked and presumably not maintained, and as a result, we eventually lost track of where
        we were going. At some unknown point, we stopped walking on the snow packed trail and began walking across the
        snow packed forest floor. </p>
    <p>Whatever we were following terminated at the lip of an embankment. But on the other side of this ditch, we could
        see where the actual trail picked up, so we decided to go slightly off trail in order to get back on trail.
        Little did we know that at the bottom of that ditch, hidden by the packed snow, was a small mountain stream.</p>
    <p>As we crossed, our shoes punctured the snow and plunged into the stream, leaving little shoe-shaped holes with
        exposed water rushing beneath. We quickly made it to the other side and began to climb up the steep embankment
        to regain access to the trail. This involved us scrambling, hands and knees, across loose dirt, pulling on tree
        branches and bushes to lift ourselves to the other side. </p>
    <p>We eventually made it to the top and was rewarded by a well marked trail. We congratulated ourselves and took
        pictures of the waterfall. A job well done.</p>
    <p>It was on the way back that tragedy struck.</p>
    <p>It was either when Megan was scrambling back down the embankment or when she attempted to leap over the stream
        that her phone slipped out of her jacket pocket, slid across the snow, presumably fell through one of those
        shoe-shaped holes into the rushing water and was washed away, never to be seen again.</p>
    <p>Our spontaneous mountain hike had betrayed us!</p>
    <p>We searched on hand and knee for the phone to no use. Along with the phone, Megan lost her wallet, including her
        driver&#39;s license, and all the pictures she had taken on the trip. We were no longer intrepid mountaineers
        who went on spur of the moments hikes. We were hapless urbanites who wander
        off trail and lose their overpriced iPhones in streams.</p>
    <p>It could be worse. We could be the sort of boring people who never leave the car. </p>

</div>

<div class="dunes travel-article parallax">
    <div class="caption">
        <span class="border">GREAT DUNES</span>
    </div>
</div>
<div class="para-tex">
    <p><span class="firstcharacter">W</span>e had arrived in the dead of night. There was little white flakes floating in the air. I speculated that it must be sand coming off the dunes. Once we stepped out into the camping area, we realized it was snow. It was our last night in the van. One last night for us to be curled up under heavy blankets using the residual heat of the running car to keep warm. </p>
    <p>The next morning, we made pancakes on the griddle in the back of the van. We would be sand boarding down the side of the great dunes that day.  </p>
    <p>The Great Dunes of Colorado appear to be in the wrong spot. Sand dunes are to be found at the beach or in the desert. But not the dunes in Colorado. Those are found stuck between two mountain ranges, the San Juans and the Sangre de Cristos. Much earlier, like geologically earlier, the valley between these mountain ranges was a massive lake. Eventually, this lake dried up leaving a bed of sand. This sand was pushed by winds eastward until it brushed up against the Sangre de Cristos, forming the Great Dunes.</p>
    <p>Standing nearly 800 feet tall, the dunes themselves are quite the sight. Since there is no tree cover, we could see people trudging all the way to the top of the dunes. </p>
    <p>We rented a sand board and a sand sled. Both were functionally equivalent to their snow based brothers, though the shop keeper, a friendly Denver transplant, told me that the snow sled could go up to 40 mph coming off the top of the tallest dunes. </p>
    <p>I do not look very athletic but I am even less athletic than I look. I could not sand board. On my first attempt, I traveled maybe two feet and promptly fell over and bruised my tailbone. Megan had much more luck, but I would be using the sand sled for the rest of the day. </p>
    <p>The sand sled did travel much faster. I couldn&#39;t say how fast I was going for sure, but it must have been close to 20 mph--which feels much faster than that when you are only separated from the earth by a thin, slick piece of wood. We spent the next few hours trekking up dunes and furiously sliding back down. However, the ancient wind that pushed mountains of sand across Colorado was still there and would whip grains of sand against our exposed skin.   </p>
    <p>At around 2pm, we called it a day and dragged our boards across the sand to the parking lot. We brushed off as much sand as we could and tossed the boards into the back of the van. Fortunately, we would not be sleeping there again. </p>
    <p>We had a four hour drive to Denver ahead of us, where we would be staying in a nice hotel in the middle of downtown. Our time in the van had come to an end. </p>
    
</div>

<div class="d-flex flex-wrap mb-3">

    <div class="books-con">
        <div class="books">
            <h4>Read Before Going</h4>
            <p><strong>In Search of the Old Ones</strong> Combining rock climbing and archeology, David Roberts explores
                the lost history of the Anasazi. This read will provide color to the ruins at Mesa Verde. Roberts also
                deftly avoids sentimentality when discussing the sights and people of the Southwest while still
                providing a greater apperciation for their culture. </p>
            <p><strong>Desert Solitaire</strong> Edward Abbey's landmark 1968 book examines the overcommercialization of
                the National Parks and the vanishing ability of Americans to find quiet in the desert back country.
                Moreover, every other book I've read on the region quotes this one at least once.</p>
            <p><strong>Wonders of Sand and Stone</strong> A sweeping history of Utah's parks and monuments, Frederick
                Swanson provides an excellent overview of how the parks came to be. More than anything, you will learn
                things like who is the "Bryce" in "Bryce Canyon".</p>
        </div>
    </div>
    <div class="other">
        <h4>Two Other Things</h4>
        <p><strong>Valley of the Gods</strong> Just a few miles north of Monumnet Valley is valley of the Gods. Desert
            Solitaire consistently rails against the proliferation of paved roads and the caravans of tourists who
            follow. There is no paved road in Valley of the Gods, which may just be the reason there was plenty of open
            camp spots when we visited.</p>
        <p><strong>Bishop's Castle</strong> Somewhere north of Great Dunes lies Bishop's Castle. It is the work of one
            (probably insane) man who said, "building permits be damned, I am building a castle in my backyard." As the
            many signs will tell you, climb the castle spire at your own risk.</p>
    </div>
</div>
{% endblock %}