{% extends "travel_base.html" %}

{% block content %}
<div class="vegas travel-article parallax">
    <div class="caption">
        <span class="border">LAS VEGAS</span>
    </div>
</div>
<div class="para-tex">
    <p>The approach into Las Vegas flies over acres of dark empty desert. There are no suburbs to provide clusters of
        light. No highways to cut a yellow incandescent line. Just miles and miles of empty desert. Then, you begin to
        see a glow behind the formless shadow of the Spring Mountains, and as you glide over the last peak, the sudden
        brilliance of a ten thousand neon lights come into view. </p>
    <p>You see the pyramid of the Luxor hotel, a mini Eiffel Tower, and a mock New York skyline. And as you land, you
        half expect a tuxedoed George Clooney to greet you at the gate and invite you to knock over a casino. </p>
    <p>But Las Vegas on the ground is quite different from Las Vegas in the air. </p>
    <p>There is no George Clooney. No Brad Pitt. No Frank Sinatra. Instead, the strip is filled with large men in
        oversized white t-shirts and snap backs, clutching jumbo sized to-go margaritas in one hand and their undersized
        girlfriends in the other. Imagine Myrtle Beach, but instead of sunburnt dudes in tank tops, its sunburnt dudes
        in Raiders jerseys.</p>
    <p>The city is like a malicious theme park, one where the focus is more on siphoning off your money than
        entertaining. It&#39;s a mob designed Disneyland, where the sidewalks naturally shuffle pedestrians into casinos
        and street performers trick drunk passerbys out of dollars.</p>
    <p>For me, it was to serve as the starting point for the real trip. I would be packing my entire life into a van and
        traveling through eight national parks en route to Denver. My trip would be as far from the luxury and
        indulgence of Vegas as possible. It would be a test of grit, and it would be one that I approached with a mix of
        excitement and dread. </p>

</div>
<div class="road travel-article parallax">
    <div class="caption">
        <span class="border">ON THE ROAD</span>
    </div>
</div>
<div class="para-tex">
    <p>Driving through Grand Staircase-Escalante National Monument, with my entire life crammed into the back of a van,
        I felt wonderfully untethered from my normal life. I had enough food and water to last a week or two, and no
        where I had to be until April 16th. I could go quite literally anywhere and do almost anything. </p>
    <p>Inspired by overly romanticized instagram posts and YouTube videos, my girlfriend Megan and I had decided to rent
        a campervan to take on a two week road trip across the southwest. We were not campers. In fact, neither of us
        had been camping since we were kids. But we were both in our late twenties, and with the long yawning expanse of
        the rest of our lives staring at us, we felt it necessary to make adventurous memories while still young. </p>
    <p>We had planned for the trip to last two weeks, but due to a scheduling conflict, I ended up spending the first
        week alone. I would fly into Vegas, visit Zion, Bryce Canyon and Capital Reef, and then meet up with Megan in
        Grand Junction in route to Moab and the rest of the trip. </p>
    <p>And so it was that I found myself alone in the van teetering atop canyon edges as I barreled my way across Utah
        State Route 12 from Bryce Canyon to Capital Reef. The twenty dollar gas station aviators did little to protect
        my sunburnt eyes, and I was nursing a head ache from altitude sickness. </p>
    <p>But by this time, I was feeling a bit more secure in my ability to live out of the van. In the front, there was a
        drivers and passengers seat, with a forty pack of water between. Directly behind the front seats was the bed. I
        had bought a 60 dollar mattress topper and some cheap navy blue sheets from Walmart. That combined with the down
        comforter provided by the van company and battery powered string lights bought from Amazon created a remarkably
        comfortable sleeping quarters--ones that stood up well even to a twenty degree night in Bryce Canyon and snow in
        Great Dunes. </p>
    <p>In the far back, there was the kitchen. This consisted of an overhead light, a propane powered camping stove, and
        a solar powered fridge. It mostly served as a pancake/soup station for campsites that forbade wood fires. The
        outside of the van was covered in mural of a dragon guarding a treasure chest, and the van itself was called
        &quot;Dragon&quot; by the company. </p>
    <p>I must admit some of my favorite memories on the trip were the drives between parks, particularly the drive
        through Grand Staircase. This part of America is particularly empty. Driving between Vegas and Zion, I saw
        plenty of places to stop and get gas, and the same was true between Zion and Bryce, but between Bryce and
        Capital Reef, there was nothing. No exits, no roadside gas stations, no farms, no houses. Just desert, canyons,
        and a road.</p>
    <p>There was however a scenic turnoff where you could overlook a particular attractive vista of the sandstone
        canyons, and in this turnoff, there was a sign which well captured the feeling of driving through the empty
        expanse of the southwest, all alone in a van named dragon, quite well. It read:</p>
    <blockquote>
        <p>You&#39;re looking out over some of the wildest lands in the United States. The last area to be mapped in the
            lower 48 states, this rugged region remains a sparsely loaded frontier.</p>
        <p>You&#39;re standing in the 1.9 million acre Grand Staircase-Escalante National Monument, where conserving the
            land&#39;s wild character is a top priority. These public lands don&#39;t just protect astounding scientific
            values. <strong>They safeguard one of the rarest natural resources of all--the opportunity for solitude-- in
                a landscape sculpted by wind, water, and time.</strong></p>
    </blockquote>
    <p>&nbsp;</p>
</div>
{% endblock %}