{% extends "travel_base.html" %}

{% block content %}
<div class="vegas travel-article parallax">
    <div class="caption">
        <span class="border">LAS VEGAS</span>
    </div>
</div>
<div class="para-tex">
    <p>The approach into Las Vegas flies over acres of dark empty desert. There are no suburbs to provide clusters of
        light. No highways to cut a yellow incandescent line. Just miles and miles of empty desert. Then, you begin to
        see a glow behind the formless shadow of the Spring Mountains, and as you glide over the last peak, the sudden
        brilliance of a ten thousand neon lights come into view. </p>
    <p>You see the pyramid of the Luxor hotel, a mini Eiffel Tower, and a mock New York skyline. And as you land, you
        half expect a tuxedoed George Clooney to greet you at the gate and invite you to knock over a casino. </p>
    <p>But Las Vegas on the ground is quite different from Las Vegas in the air. </p>
    <p>There is no George Clooney. No Brad Pitt. No Frank Sinatra. Instead, the strip is filled with large men in
        oversized white t-shirts and snap backs, clutching jumbo sized to-go margaritas in one hand and their undersized
        girlfriends in the other. Imagine Myrtle Beach, but instead of sunburnt dudes in tank tops, its sunburnt dudes
        in Raiders jerseys.</p>
    <p>The city is like a malicious theme park, one where the focus is more on siphoning off your money than
        entertaining. It&#39;s a mob designed Disneyland, where the sidewalks naturally shuffle pedestrians into casinos
        and street performers trick drunk passerbys out of dollars.</p>
    <p>For me, it was to serve as the starting point for the real trip. I would be packing my entire life into a van and
        traveling through eight national parks en route to Denver. My trip would be as far from the luxury and
        indulgence of Vegas as possible. It would be a test of grit, and it would be one that I approached with a mix of
        excitement and dread. </p>

</div>
<div class="road travel-article parallax">
    <div class="caption">
        <span class="border">ON THE ROAD</span>
    </div>
</div>
<div class="para-tex">
    <p>Driving through Grand Staircase-Escalante National Monument, with my entire life crammed into the back of a van,
        I felt wonderfully untethered from my normal life. I had enough food and water to last a week or two, and no
        where I had to be until April 16th. I could go quite literally anywhere and do almost anything. </p>
    <p>Inspired by overly romanticized instagram posts and YouTube videos, my girlfriend Megan and I had decided to rent
        a campervan to take on a two week road trip across the southwest. We were not campers. In fact, neither of us
        had been camping since we were kids. But we were both in our late twenties, and with the long yawning expanse of
        the rest of our lives staring at us, we felt it necessary to make adventurous memories while still young. </p>
    <p>We had planned for the trip to last two weeks, but due to a scheduling conflict, I ended up spending the first
        week alone. I would fly into Vegas, visit Zion, Bryce Canyon and Capital Reef, and then meet up with Megan in
        Grand Junction in route to Moab and the rest of the trip. </p>
    <p>And so it was that I found myself alone in the van teetering atop canyon edges as I barreled my way across Utah
        State Route 12 from Bryce Canyon to Capital Reef. The twenty dollar gas station aviators did little to protect
        my sunburnt eyes, and I was nursing a head ache from altitude sickness. </p>
    <p>But by this time, I was feeling a bit more secure in my ability to live out of the van. In the front, there was a
        drivers and passengers seat, with a forty pack of water between. Directly behind the front seats was the bed. I
        had bought a 60 dollar mattress topper and some cheap navy blue sheets from Walmart. That combined with the down
        comforter provided by the van company and battery powered string lights bought from Amazon created a remarkably
        comfortable sleeping quarters--ones that stood up well even to a twenty degree night in Bryce Canyon and snow in
        Great Dunes. </p>
    <p>In the far back, there was the kitchen. This consisted of an overhead light, a propane powered camping stove, and
        a solar powered fridge. It mostly served as a pancake/soup station for campsites that forbade wood fires. The
        outside of the van was covered in mural of a dragon guarding a treasure chest, and the van itself was called
        &quot;Dragon&quot; by the company. </p>
    <p>I must admit some of my favorite memories on the trip were the drives between parks, particularly the drive
        through Grand Staircase. This part of America is particularly empty. Driving between Vegas and Zion, I saw
        plenty of places to stop and get gas, and the same was true between Zion and Bryce, but between Bryce and
        Capital Reef, there was nothing. No exits, no roadside gas stations, no farms, no houses. Just desert, canyons,
        and a road.</p>
    <p>There was however a scenic turnoff where you could overlook a particular attractive vista of the sandstone
        canyons, and in this turnoff, there was a sign which well captured the feeling of driving through the empty
        expanse of the southwest, all alone in a van named dragon, quite well. It read:</p>
    <blockquote>
        <p>You&#39;re looking out over some of the wildest lands in the United States. The last area to be mapped in the
            lower 48 states, this rugged region remains a sparsely loaded frontier.</p>
        <p>You&#39;re standing in the 1.9 million acre Grand Staircase-Escalante National Monument, where conserving the
            land&#39;s wild character is a top priority. These public lands don&#39;t just protect astounding scientific
            values. <strong>They safeguard one of the rarest natural resources of all--the opportunity for solitude-- in
                a landscape sculpted by wind, water, and time.</strong></p>
    </blockquote>
    <p>&nbsp;</p>
</div>
<div class="zion travel-article parallax">
    <div class="caption">
        <span class="border">ZION SHUTTLE SERVICE</span>
    </div>
</div>
<div class="para-tex">
    <p>Zion was not a success.</p>
    <p>A sinister confluence of events left me stranded in the park with about five hours to burn. </p>
    <p>First, too many people enjoy nature now. Once all the coffee shops, restaurants, theaters, music venues, sports
        stadiums and bars closed for covid, all of America collectively looked around and said, &quot;well I guess
        nature is what&#39;s left&quot;, so we all packed our things and decided to go to America&#39;s National Parks.
    </p>
    <p>All at once, and especially to Zion. </p>
    <p>As a result, the parking lots at the trail heads cannot handle the number of visitors, and the only way to enter
        and exit the park is in shuttles--shuttles that have set pick up and drop off times and that you have to sign up
        for months in advance.</p>
    <p>I, being an obnoxious Type A planner that I am, had signed up for a shuttle well in advance, but for all my
        planning, I could not anticipate that Angel&#39;s Landing would just so happen to be closed for the only day
        that I was there for trail repairs. That was the second problem.</p>
    <p>Third, I did not have rubber pants. On Zion&#39;s most famous trail, the Narrows, you walk through a shallow
        creek that cuts through a deep slot canyon. It&#39;s supposed to be a transformational experience but one that
        requires rubber pants as you are often knee deep in snow melt. I did not reserve the prerequisite pants because
        the National Park Service website said the trail was still closed for the winter.</p>
    <p>So there I was dropped off in Zion National Park at 10 am, with only a one mile river walk to do and a pick up
        time of 4 pm. </p>
    <p>However, there was hope. On the way down, the shuttle driver told me that I could ask anyone from his company if
        there was room on their shuttle and then head back with them.</p>
    <p>So I completed the available one mile hike and then returned back to the parking lot to catch a shuttle back. It
        was 11:40 and the next shuttles were set to leave at 12:00. I approached the driver and told him my situation
        and asked if there was room on his shuttle. </p>
    <p>He looked at me with surprise and disgust, like I just admitted to being a serial puppy kicker and said,
        &quot;Who told you that?&quot; I explained the other shuttle driver had. &quot;Well he&#39;s lying to you.
        That&#39;s against policy.&quot;</p>
    <p>I stared at him blankly. He went on, &quot;It&#39;s not your fault though. Go ahead and hop in the front
        seat.&quot;</p>
    <p>&quot;Now?&quot;, I asked. </p>
    <p>&quot;Yeah, when else?&quot;</p>
    <p>So I got into the front seat, and to my surprise, we were off, just me and him--a full twenty minutes before his
        next shuttle was supposed to leave. </p>
    <p>He was a larger man with a chin strap beard and a blunt sense of humor. He told me that he had been having
        trouble with his coworkers because they didn&#39;t have a sense of humor and would call him unprofessional. I
        did my best to agree with whatever he was saying since he was giving me a ride. </p>
    <p>He had an unsettling habit of mirroring back whatever I said to him but larger. I told him I played video games,
        and he told me that he used to be on the number two Call of Duty team in the world. I told him I was a computer
        scientist, and he told me that so was he. He just drove the van as a hobby and actually had a six figure job
        offer awaiting his decision back home. </p>
    <p>After he remarked that I was a little too quiet, I told him that I was feeling off because I hadn&#39;t slept the
        night before. This was true. It was my first night in the van, and I couldn&#39;t fall asleep until 5 am. He
        then told me that he <em>also</em> hadn&#39;t fallen asleep last night, and in fact, he was up coughing up blood
        all night. </p>
    <p>This is not a welcome comment when you are alone in a van with a stranger in the time of covid. I told him that
        he should get a covid test, and he told me that he would get an iced tea because the coughing was a result of a
        dry throat.</p>
    <p>Fortunately for me, we had arrived back in Springdale by this point. When I got out of the van I was convinced of
        two things: one, that that was not a sanctioned shuttle ride and two, that I would be very easy to kidnap. </p>

</div>
<div class="bryce travel-article parallax">
    <div class="caption">
        <span class="border">MORMON DIXIE</span>
    </div>
</div>
<div class="para-tex">
    <p>Stop me if you&#39;ve heard this before.</p>
    <p>A strict sect of the protestant church feels prosecuted in their homeland, so they head west to a land virtually
        untouched by Europeans. They mostly settle in the north of this new country where industry and trade flourishes.
        In the south, agriculture focused on cotton takes root, earning the region the nickname of Dixie. </p>
    <p>This is the story of Utah of course!</p>
    <p>After Brigham Young settled on Utah for his new Mormon homeland, he determined that the southern part of Utah
        should be used to raise cotton to support an independent textile industry. Upon his directive, newly minted
        Mormons from the Virginia, Texas, and Tennessee poured into the Southwest corner of the Utah, giving it the
        nickname Dixie.</p>
    <p>Unlike earlier Virginians, I was coming to this part of Utah, not to grow cotton, but to look at rocks. But not
        just any rocks, red rocks. </p>
    <p>While I had whiffed pretty hard in Zion, I found an incredible abundance of gorgeous formations in Bryce Canyon
        and Capital Reef. </p>
    <p>As you approach the lip of Bryce Canyon, you walk through a flat, somewhat rocky, forest of evergreen trees. But
        then, suddenly, the trees clear, and you can see miles and miles of desert and canyon lands, red sandstone
        walls, pockets of snow, and clear blue skies, dusty trails and tourists on horseback, kicking up sand as they
        march into the canyon. </p>
    <p>It&#39;s a spectacular moment, one punctuated by its unexpected arrival. </p>
    <p>The amphitheater itself is populated by hoodoos, which are tall, thin spires of rock, shaped by snow and wind.
        The formations are irregular and unbalanced, reminding me of the drip castles I would make at the beach as a
        kid. There are perhaps thousands of these spires in the canyon. The Paiute believed that these formations were
        the remains of a wicked tribe who were cast into stone by a trickster coyote god. </p>
    <p>The legend goes that there once was a greedy people whose avarice caused the countryside to become barren. They
        drank up all the rivers and stripped the forest of food. So the coyote god invited them to a grand banquet in
        his canyon. But before they could take a bite, his cursed them, turning them into stone as they tried to escape.
    </p>
    <p>I imagine, in part, the purpose of the Paiute tale was to keep children from wandering off into the valley. In
        the canyon, the hoodoos turn into labyrinth of sandstone walls that ensnare and confuse those unfamiliar with
        the terrain.</p>
    <p>The disorienting nature of Dixie&#39;s canyons was not lost on the outlaws of the Wild West who would commonly
        use them as hideouts from the law. In Capital Reef, I would hike the Grand Wash trail which famously contains
        one of Butch Cassidy&#39;s old hideouts. </p>
    <p>The trail takes you through an impressively deep wash, with large looming sandstone walls. I can imagine lawmen
        creeping through the canyon, only to turn a corner and find themselves on the wrong end of Butch Cassidy&#39;s
        gun. Now, the only real threat lurking in the canyon walls is the sheer number of sunburnt tourists and kids
        loudly discussing Fortnite. </p>
    <p>The Grand Wash trail terminates next to Cassidy Arch, a massive deep stone formation that more closely resembles
        a tunnel than an arch. I sat atop the arch and looked out across the desert. I had expected to hike about four
        miles across flat terrain to get here, but had ended up hiking nine miles up the side of the canyon to get to
        the arch. I had about six hours of driving ahead of me to get to Moab and then pick up my girlfriend at Grand
        Junction.</p>
    <p>I had better get going. </p>

</div>
{% endblock %}