{% extends "travel_base.html" %}

{% block content %}
<a href="{{ url_for('argentina') }}">
    <div class="argentina-building travel-title parallax">
        <div class="caption">
            <span class="border">ARGENTINA</span>
        </div>
    </div>
</a>
<br>
<a href="{{ url_for('uruguay') }}">
    <div class="uruguay travel-title parallax">
        <div class="caption">
            <span class="border">URUGUAY</span>
        </div>
    </div>
</a>
<br>
<a href="{{ url_for('hungary') }}">
    <div class="budapest travel-title parallax">
        <div class="caption">
            <span class="border">HUNGARY</span>
        </div>
    </div>
</a>
<br>
<a href="{{ url_for('costa_rica') }}">
    <div class="costa_rica travel-title parallax">
        <div class="caption">
            <span class="border">COSTA RICA</span>
        </div>
    </div>
</a>
<br>

{% endblock %}