{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/toggles.css')}}">
<script src="{{url_for('.static', filename='javascript/toggles.js')}}"></script>

{% endblock%}

{% block content %}
<div class="row">
    <div class="col-2">
        <div class="row">
            <p> Dark Mode </p>
            <button class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
                id='darkmode' onclick='toggle(this.id, "darkmode")'>
                <div class="handle"></div>
            </button>
        </div>
        <div class="row">
            <p> 90's Mode </p>
            <button class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
                id='ninties' onclick='toggle(this.id, "ninties")'>
                <div class="handle"></div>
            </button>
        </div>
    </div>
    <div class="col-10">
        <p>
            Darkmode is pretty trendy in UI/UX right now&mdash;and for good reason! I oftentimes am working on this
            website into the wee hours of the morning, and while I love my bright colors, it can feel like staring into
            the sun when the lights are off.
        </p>
        <p>
            So I guess this one page will be a refugee for my eyes at night.
        </p>
        <p>
            It got me thinking, "what other toggles would be useful for a website?"
        </p>
    </div>
</div>



{% endblock %}