/* Travel */

.travel-icon{
    background:#3caea3;
    color: white;
    padding:20px;
    text-align: center;
    margin: 10px !important;
  }
  
  .travel-blue{
    background: #305e7a;
  }
 
/* SOUTHWEST */
.southwest{
  background-image: url('../images/travel/southwest/wallstreet.png');
} 

.vegas{
  background-image: url('../images/travel/southwest/vegas.gif');
} 

.road{
  background-image: url('../images/travel/southwest/road.jpeg');
} 

.zion{
  background-image: url('../images/travel/southwest/zion.jpeg');
} 
/* ARGENTINA */

  .fireworks{
    background-image: url('../images/travel/argentina/fireworks.gif');
  }

  .argentina{
    background-image: url('../images/travel/argentina/buenos_aires.jpg');
  }
  
  .argentina-building{
    background-image: url('../images/travel/argentina/argentina_building.jpg');
  }

  .salta{
    background-image: url('../images/travel/argentina/salta.jpg');
  }

  .jujuy{
    background-image: url('../images/travel/argentina/jujuy.jpg');
  }

/* COSTA RICA */

  .costa_rica{
    background-image: url('../images/travel/costa_rica/irazu.JPG');
  }

  .costa_rica2{
    background-image: url('../images/travel/costa_rica/cartago.jpeg');
  }

/* URUGUAY */

  .uruguay{
    background-image: url('../images/travel/uruguay/uruguay.jpeg');
  }

  .market{
    background-image: url('../images/travel/uruguay/market.jpeg');
  }
  
  .old{
    background-image: url('../images/travel/uruguay/old.jpeg');
  }

  .plates{
    background-image: url('../images/travel/uruguay/plates.jpeg');
  }

/* HUNGARY */

.budapest{
  background-image: url('../images/travel/hungary/budapest.jpeg');
}

.street{
  background-image: url('../images/travel/hungary/street.jpeg');
}

.heros{
  background-image: url('../images/travel/hungary/heros.jpeg');
}

.town{
  background-image: url('../images/travel/hungary/town.jpeg');
}

.baths{
  background-image: url('../images/travel/hungary/baths.jpeg');
}

.night{
  background-image: url('../images/travel/hungary/parliament.gif');
}
  .caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    border:none !important;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 10px;
  }
  
  .para-tex{
    color:black;
    background-color:white;
    text-align: justify;
    padding: 50px;
  }
  
  @media only screen and (max-width: 576px) {
    .para-tex {
        padding:25px;
    }
}

  .travel-article{
    height:300px;
  }
  
  @media only screen and (max-width: 576px) {
    .travel-article {
        height: 150px;
    }
}
  .travel-title{
    height:150px;
  }
  
  .travel-title:hover {
    opacity: 1;
  }
  
  .parallax{
    position: relative;
    opacity: .8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px !important;
  }