{% extends "base.html" %}

{% block content %}
<div class="first-section">
    <h3>Analytics</h3>
    <p>
        Analytics is the discpline of getting insights out of data, and these
        insights are usually delivered in the form of a <strong>data product</strong>. A
        data product can be anything from a model, to an automation, to a report of summary statistics, to a web
        app.
    </p>
    <p>
        Thus far in my career, I have made data products ranging from simple queries delivered in excel reports
        and powerpoint decks, to web apps built in shiny, to automations built in r markdown, and to anomaly detection
        models using time series decomposition.
    </p>
    <a class="a-btn" href="#nlp">
        <div class="btn" style="vertical-align: middle;">
            <i class="fa fa-comments" style="font-size: 1.25rem; padding-right: .5rem;"></i>
            Natural Language Processing</div>
    </a>
    <div class="btn" style="vertical-align: middle;">
        <i class="fa fa-code" style="font-size: 1.25rem; padding-right: .5rem;"></i>
        Cleaner Package</div>

    <a class="a-btn" href="#deck-themer">
        <div class="btn" style="vertical-align: middle;">
            <i class="fas fa-robot" style="font-size: 1.25rem; padding-right: .5rem;"></i>
            Deck Themer</div>
    </a>
    <br><br>
</div>
<div class="sub-section">
    <h3>Automated Deck Building with Xaringan</h3>
    <div class="row">
        <div class="col-4">
            <a href="{{url_for('static', filename='analytics/xaringan/template.html')}}">
                <div class="image-link">
                    <img src="{{url_for('static', filename='images/analytics/booz-theme.PNG')}}" style="width:100%;">
                </div>
            </a>
        </div>
        <div class="col-6">
            <p>
                Xaringan package extends R Markdown, so that it can create HTML 5 presentations based
                on the remark.js framework. Basically, you can create decks with R Markdown. You can
                inject the results of R code right into the presentation and customize the appearance
                using CSS. Personally, I have used this technology to automated two weekly decks, saving
                about one workday's worth of work each week.
            </p>
        </div>
    </div>
</div>
{% endblock %}