{% extends "base.html" %}

{% block content %}
<div class="first-section">
    <h3>Analytics</h3>
    <p>
        For me, analytics is the discpline of getting insights out of data, and these
        insights are usually delivered in the form of a <strong>data product</strong>. A
        data product can be anything from a model, to an automation, to a report of summary statistics, to a web
        app.
    </p>
    <p>
        Thus far in my career, I have mostly stuck to making webapps in shiny and automating reporting,
        so this section will have an emphasis on those skills.
    </p>
    <a class="a-btn" href="#nlp">
        <div class="btn" style="vertical-align: middle;">
            <i class="fa fa-comments" style="font-size: 1.25rem; padding-right: .5rem;"></i>
            Natural Language Processing</div>
    </a>
    <div class="btn" style="vertical-align: middle;">
        <i class="fa fa-code" style="font-size: 1.25rem; padding-right: .5rem;"></i>
        Cleaner Package</div>

    <a class="a-btn" href="#deck-themer">
        <div class="btn" style="vertical-align: middle;">
            <i class="fas fa-robot" style="font-size: 1.25rem; padding-right: .5rem;"></i>
            Deck Themer</div>
    </a>
    <br><br>
</div>
{% endblock %}