{% block head %}

<head>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>corydonbaylor.io</title>
    {% endif %}

    <!-- bootstrap loadouts -->
    {% include 'partials/head/bootstrap.html' %}
    <link rel="stylesheet" href="{{url_for('.static', filename='custom.css')}}">
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <script src="https://kit.fontawesome.com/2a1205b7da.js" crossorigin="anonymous"></script>

</head>
{% endblock %}

{% include 'partials/navbar.html' %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>