{% extends "base.html" %}

{% block content %}
<main role="main" class="container">
    <h3>About Me</h3>

    <!-- Box -->

    <div style='float: right;' class="btn-container">
        <div class="box" style="vertical-align: middle;">
            <span style="margin-bottom: 1rem !important;
    font-weight: normal;
    font-size: 1.25rem;
    text-align: center;
    color: #159957;">Reach Out</span><br>
            <a href="mailto:cwbaylor1@gmail.com">
                <i class="fas fa-envelope-square" style="font-size: 1.5rem; padding-right: .5rem;"></i>
                Email Me </a>
            <br>
            <a href="https://github.com/corydonbaylor">
                <i class="fab fa-github-square" style="font-size: 1.5rem; padding-right: .5rem;"></i>
                Check Out My Github </a>
            <br>
            <a href="https://www.linkedin.com/in/corydon-baylor-254a4a8b">
                <i class="fab fa-linkedin" style="font-size: 1.5rem; padding-right: .5rem;"></i>
                Connect on LinkedIn</a>
        </div>
    </div>

    <!-- Who I am -->

    <p>
        I'm Corydon Baylor and there is a 90% chance that I sent you this link rather than
        you discovering this organically. I am a data scientist at Booz Allen, and a bit of a
        R programming enthusiast in general.
    </p>
    <p>
        I thought it would be a good idea to consolidate
        <a href="https://github.com/corydonbaylor">all my github projects</a> into one
        nice looking webpage, with the added benefit of being able to practice my html and css skills.
    </p>

    <!-- Whats here -->
    <h3>How I made This Website</h3>
    <p>
        I am very much not a web developer, but this website was created with static HTML, CSS, and Javascript
        files.
        For the appearance of
        the site, I am using Bootstrap. To host the site, I am using a Raspberry Pi 4 running Raspbian and using an
        Apache server.
    </p>
    <h3>My Skills</h3>
    <p>
        Most of the work I do is in R, and I consider myself a bit of hobbyist in that language.
        I prefer tidyverse for data cleaning, ggplot2 for visualizations, and shiny for interactivity.
        More recently, I have gotten into R Markdown for automating reports.
    </p>
    <h4>Languages</h4>
    <ul class='skill-icons-list'>
        <li class='skill-icons'>
            <i class="fab fa-r-project"></i>
        </li>
        <li class='skill-icons'>
            <i class="devicon-mysql-plain-wordmark"></i>
        </li>
        <li class='skill-icons'>
            <i class="devicon-git-plain"></i>
        </li>
        <li class='skill-icons'>
            <i class="devicon-html5-plain-wordmark"></i>
        </li>
        <li class='skill-icons'>
            <i class="devicon-css3-plain-wordmark"></i>
        </li>
        <li class='skill-icons'>
            <i class="devicon-bootstrap-plain"></i>
        </li>
    </ul>

    </body>
</main>
{% endblock %}