{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('argentina') }}">
    <div class="argentina-building travel-title parallax">
        <div class="caption">
            <span class="border">ARGENTINA</span>
        </div>
    </div>
</a>
<br>
<div class="argentina travel-title parallax">
    <div class="caption">
        <span class="border">COSTA RICA</span>
    </div>
</div>
<br>
<div class="argentina-building travel-title parallax">
    <div class="caption">
        <span class="border">HUNGARY</span>
    </div>
</div>

{% endblock %}