{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/toggles.css')}}">
<script src="{{url_for('toggle_js')}}"></script>

{% endblock%}

{% block content %}
<div class="hero-section">

    <h2> Web Development </h2>
    <p>Adventures in designing, coding, and hosting a custom built website <br>&mdash; on a raspberry pi
    </p>
</div>
<div class="sub-section">
    <h3>Dark Mode Alternatives</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-8">
                    <p> Dark Mode </p>
                </div>
                <div class='col-4'>
                    <button class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
                        id='darkmode' onclick='toggle(this.id, "darkmode"); toggle_content(this.id)'>
                        <div class="handle"></div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p> Hacker Mode </p>
                </div>
                <div class='col-4'>
                    <button class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
                        id='hacker' onclick='toggle(this.id, "hacker"); toggle_content(this.id)'>
                        <div class="handle"></div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p> 90's Mode </p>
                </div>
                <div class="col-4">
                    <button class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
                        id='ninties' onclick='toggle(this.id, "ninties"); toggle_content(this.id)'>
                        <div class="handle"></div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p> Gary Busey</p>
                </div>
                <div class="col-4">
                    <button class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
                        id='gary' onclick='toggle(this.id, "gary"); toggle_content(this.id)'>
                        <div class="handle"></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-9" id='toggle_content'>
            <p>
                Darkmode is pretty trendy in UI/UX right now&mdash;and for good reason! I oftentimes am working on this
                website into the wee hours of the morning, and while I love my bright colors, it can feel like staring
                into
                the sun when the lights are off.
            </p>
            <p>
                We've come to expect darkmode from websites. But I believe us web designers are capable of so much more!
            </p>
            <p>
                So I would like to purpose a few more potential toggles that I think many will come to see as a
                necessity.
            </p>
        </div>
    </div>
</div>
<div class="final-section">
    <h3>How to Build a Website</h3>
    <div class="d-flex flex-wrap">
        <div class="small-col">
            {% include 'partials/webdev_toc.html' %}
        </div>
        <div class="big-col align-self-center">
            <p>
                <strong>Ever wanted to create a website, but didn't know where to start?</strong>
            </p>
            <p>
                Well start here. In this series of tutorials, we will cover how to first build a
                static website using just HTML and CSS. Then we will add in bootstrap,
                which is a CSS framework. Then we will cover how to add in a backend using flask.
                This will make our website signficantly easier to maintain and update.
                Finally, we will go over how to host your website on a raspberry pi, so
                that other people can access your website!
            </p>
        </div>
    </div>
</div>

{% endblock %}