{% extends "base.html" %}

{% block content %}
<div class="first-section">

    <h3> Web Development </h3>
    <p><strong>So how did I go about building this site?</strong>
    </p>
    <p>From a techincal perspective, this site was built using flask as a backend and boostrap 4 as a CSS framework.
        I am hosting my website on a raspberry pi I bought that is running apache and linux. So the web stack for this
        is a LAMP stack without the PHP or mySQL (thus far). Its a LAF stack.
    </p>
    <p>As far as adding content, I typically write out tutorials and the like in Typora, which is a
        markdown editor for Mac OS and export them as unstyled HTML. I have found this process to be
        quite seemless and fun. The ulimate goal here is to try out different things and put all the resources
        that I had needed in one place for the next guy.
    </p>
</div>
<div class="sub-section">
    <h3>How to Build a Website</h3>
    {% include 'partials/webdev_toc.html' %}
</div>

{% endblock %}