{% extends "base.html" %}

{% block content %}
<div class="hero-section">

    <h2> Web Development </h2>
    <p>Adventures in designing, coding, and hosting a custom built website <br>&mdash; on a raspberry pi
    </p>
</div>
<div class="final-section">
    <h3>How to Build a Website</h3>
    <div class="d-flex flex-wrap">
        <div class="small-col">
            {% include 'partials/webdev_toc.html' %}
        </div>
        <div class="big-col align-self-center">
            <p>
                <strong>Ever wanted to create a website, but didn't know where to start?</strong>
            </p>
            <p>
                Well start here. In this series of tutorials, we will cover how to first build a
                static website using just HTML and CSS. Then we will add in bootstrap,
                which is a CSS framework. Then we will cover how to add in a backend using flask.
                This will make our website signficantly easier to maintain and update.
                Finally, we will go over how to host your website on a raspberry pi, so
                that other people can access your website!
            </p>
        </div>
    </div>
</div>

{% endblock %}